# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\learning codluck\laravel\Laravelexercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
